<h1>THis is the demo page</h1>

<p>Hello world!</p>


<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="text" name="title">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<script type="text/javascript" src="/js/demo.js"></script>