<br><br>
<div id="main">

    <div id="uploadArea">
        <form action="/" enctype="multipart/form-data" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                <h2>Upload a UEFI (.rom) File</h2>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <input class="btn btn-lg upload-btn" type="button" value="Upload File">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="upload-input" type="file" name="upload" accept=".rom">
        </form>

    </div>
 
<!-- ALL MODAL STUFF -->
    <div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div id = "printUploadDiv" hidden>
                        <table class="table" id = "uploadTable">
                            <thead>
                                <tr>
                                    <th>Upload Name</th>
                                    <th>Date Uploaded</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>
    </div>
<!-- END MODAL STUFF -->
   
    <button onClick="sendJSON()">Table format 2</button>

    <div id="preload" hidden>
		<div class="loader-frame">
			<div class="loader1"></div>
			<div class="loader2"></div>
			<div class="loader3"></div>
		</div>
        <h3>
			Analysing...
		</h3>
	</div>

    <div id="printBtnDiv">
        <button type="submit" id="printBtn" class="btn btn-info btn-sm">
            <p>table format 1</p>
        </button>
    </div>

    <div id="demoTableDiv" hidden>
        <h3></h3>
        <table id="demoTable" class="table table-condensed" style="border-collapse:collapse;">
            
        </table>

    </div>

    <br><br>

    <div id = "dbDiv" hidden>
        <h3 id="dbTotalDiv"></h3>
        <hr>
        <table class="table" id = "dbTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>GUID</th>
                    <th>MD5</th>
                    <th>SHA1</th>
                    <th>SHA256</th>
                </tr>
            </thead>

            <tbody>
                
            </tbody>

        </table>

    </div>

    <br><br>

    <div id = "resultsDiv" hidden>
        <div id = "resultsHeader">
            <div id = "resultsTitle">
                <h3>Analysis Report</h3>
            </div>
            <form method="post">
            
            <div id="downloadBtnDiv">
                <button type="submit" id="downloadLink" class="btn btn-info btn-sm" formaction="/download">
                    <span id="downloadSpan" class="glyphicon glyphicon-download-alt"></span>
                    <p id="downloadText">Download</p>
                </button>
            </div>
            </form>
        </div>
        
        <hr>
        <div id="fileResults"></div>
    </div>

</div>

<script src="js/upload.js"></script>

<!--
    http://shiya.io/simple-file-upload-with-express-js-and-formidable-in-node-js/
    https://coligo.io/building-ajax-file-uploader-with-node/ 
-->