<br><br>
<div id="main">
    <div id="uploadArea">
        <!--
            http://shiya.io/simple-file-upload-with-express-js-and-formidable-in-node-js/
            https://coligo.io/building-ajax-file-uploader-with-node/ 
        -->

        <form action="/" enctype="multipart/form-data" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                <h2>Upload a UEFI (.rom) File</h2>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <input class="btn btn-lg upload-btn" type="button" value="Upload File">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="upload-input" type="file" name="upload" accept=".rom">
        </form>

    </div>

    <button onClick="sendJSON()">Send</button>

    <div id="preload" hidden>
			<div class="loader-frame">
				<div class="loader1"></div>
				<div class="loader2"></div>
				<div class="loader3"></div>
			</div>
            <h3>
				Analysing...
			</h3>
		</div>

    <div id = "resultsDiv" hidden>
        <div id = "resultsHeader">
            <div id = "resultsTitle">
                <h3>Analysis Report</h3>
            </div>
            <form action="/down" method="post">
            
            <div id="downloadBtnDiv">
                <button type="submit" id="downloadLink" class="btn btn-info btn-sm" formaction="/download">
                    <span id="downloadSpan" class="glyphicon glyphicon-download-alt"></span>
                    <p id="downloadText">Download</p>
                </button>
            </div>
            </form>
        </div>

        
        
        <hr>
        <div id="fileResults"></div>
    </div>
</div>

<script src="js/upload.js"></script>
