<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

 		<script type="text/javascript" src="/vendor/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
