<link rel='stylesheet' href='/css/tab.css' />

<br><br>

<div id="tab">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#upload" data-toggle="tab">Upload</a>
        </li>
        <li>
            <a href="#search" data-toggle="tab">Search</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="upload">
            <h3>We tab</h3>
        </div>

        <div class="tab-pane" id="search">
            <span class="glyphicon glyphicon-search"></span>
            
            <br><br>
            
            <div id="searchbar" class=" col-md-offset-1">
                <div class="col-md-10">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" id="searchText" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit" id="searchBtn">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div id="preloadSearch" class="preload" hidden>
                <div class="loader-frame">
                    <div class="loader1"></div>
                    <div class="loader2"></div>
                    <div class="loader3"></div>
                </div>
                <h3>
                    Searching...
                </h3>
            </div>
                
            <br><br><br><br>

            <div id="searchResultsDiv" hidden>
                <h3 id="numOfResults"></h3>
                <table id="searchTable" class="table table-condensed">

                </table>
            </div>

            

        </div>
    </div>
        
</div>

<br><br>

<script src="js/search.js"></script>

