    <link rel='stylesheet' href='/css/tab.css' />

<br><br>

<div id="exTab3">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#upload" data-toggle="tab">Upload</a>
        </li>
        <li>
            <a href="#search" data-toggle="tab">Search</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="upload">
            <h3>We tab</h3>
        </div>

        <div class="tab-pane" id="search" style="text-align: center">
            <span class="glyphicon glyphicon-search"></span>
            <hr>

            <div id="searchbar" style="text-align: center">
                <div class="col-md-10">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" id="searchText" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit" id="searchBtn">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

        </div>
    </div>
        
</div>

<br><br>

<script src="js/search.js"></script>

