/* change border radius for the tab , apply corners on top*/

#tab .nav-pills > li > a {
  /*style before color/width*/
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #4791D2;
  border-radius: 4px 4px 0 0 ;
  }
  
  #tab .tab-content {
    /*color : #4791D2;*/
    background-color: white;
    /*style before color/width*/
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #4791D2;
    padding : 20px;
    height: 70%
  }
  
  #tab {
    background-color: white;
    margin: 0 auto;
    width: 60%; 
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }

.nav {
  /*style before color/width*/
  border-style: none none solid none;
  border-width: 1px;
  border-bottom-color: #4791D2;
}

/* ================================================================ */

#search{
  text-align: center;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #c6c4c4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

/*---------------------------------------------------------------*/

#searchTable{
  table-layout: fixed;
}

#searchResultsDiv {
  background-color: white;
  margin: 0 auto;
  width: 80%; 
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(9, 47, 80);
}

#preloadSearch {
  margin-top: 100px;
}

.scol1 {
  width:30%;
  word-break:break-all;
}

.scol2 {
  width:70%;
  word-break:break-all;
}

.dateCol {
  overflow-wrap: break-word;
  width: 70%
}
