html,
body {
  height: 100%;
  width: 100%;
  background-color: #4791D2;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

#main {
  padding: 0px 0px 50px 0px;
}

#header, h1, h2 {
  background-color: #ffffff;
  width: 100%;
  size: 100%;
  padding: 2px;
}

#uploadArea {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
}

#resultsDiv {
  background-color: white;
  margin: 0 auto;
  width: 60%; 
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  text-align: left;
}

hr {
  border: none;
  height: 2px;
  background-color: #68757E; 
  clear: both;
}

a {
  color: #00B7FF;
}

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

.row {
  margin-top: 80px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

h2 {
  margin-top: 15px;
  color: #68757E;
}

h1 {
  color: #333333;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}


/* PreLoad */
#preload {
  position: static;
  margin: 0 auto;
  top: 60%;
  left: 50%;

}
  #preload .logo {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 50px;
  }

  .loader-frame {
      width: 60px;
      height: 60px;
      margin: auto;
      position: relative;
  }

  .loader1, .loader2, .loader3 {
      position: absolute;
      border: 2px solid transparent;
      border-radius: 50%;
  }

  .loader1 {
      width: 60px;
      height: 60px;
      border-top: 2px solid azure;
      border-bottom: 2px solid azure;
      -webkit-animation: clockwisespin 2s linear 3;
      -moz-animation: clockwisespin 2s linear 3;
      -ms-animation: clockwisespin 2s linear 3;
      animation-iteration-count: infinite;

  }

  .loader2 {
      width: 50px;
      height: 50px;
      border-top: 2px solid darkturquoise;
      border-bottom: 2px solid darkturquoise;
      top: 5px;
      left: 5px;
      animation: anticlockwisespin 2s linear 3;
      animation-iteration-count: infinite;

  }

  .loader3 {
      width: 40px;
      height: 40px;
      border-top: 2px solid #FA714D;
      border-bottom: 2px solid #FA714D;
      top: 10px;
      left: 10px;
      animation: clockwisespin 2s linear 3;
      animation-iteration-count: infinite;

  }

  @-ms-keyframes clockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

  @-ms-keyframes anticlockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

  @-moz-keyframes clockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

  @-moz-keyframes anticlockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

  @-webkit-keyframes clockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

  @-webkit-keyframes anticlockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

  @keyframes clockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

  @keyframes anticlockwisespin {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

/* End Preload */

#downloadBtnDiv {
  float: right;
  width: 50%;
  text-align: right;
  margin: 10px 0px 0px 0px;
  
}

#resultsTitle {
  float: left;
  width: 50%;
}

#downloadSpan{
  font-size: 2em;
  color: white;
  float: left;
}

#downloadText{
  float: right;
  margin: 5px 0px 0px 15px;
}

#downloadLink{
  padding: 10px;
  
}

#resultsHeader{
  margin: 0 auto;
  padding: 0px 0px 50px 0px;
}

#headerLink{
  color: none;
  text-decoration:none;
}

/* General Uploader layout: https://coligo.io/building-ajax-file-uploader-with-node/ */